/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*custom properties */
:root {
  --main-bg: #FFF8DA;
  /*page bg color*/
  --color-1: #035388;
  /* question box bg/ player name / score */
  --color-2: #1992D4;
  /* answer box */
  --color-3: #FFD93E;
  /* player selected background*/
  --color-4: #FCE588;
  /* non selected player*/
  --color-5: #464646;
  /* default text / question number /player turn / end game */
  --color-6: #fff;
  /*white. text color on color1/2*/
  --color-7: #000;
  /*black. footer color*/
  --color-8: #FCE588;
  /*http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/ */
  font-size: 16px;
}

/*resets*/
body, html {
  background-color: var(--main-bg);
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: var(--color-5);
  margin: 0 auto;
  padding: 0;
}

/*typograpy*/

h1{
  font-size: 2.125rem;
  font-weight: 400;
}

h2{
  font-size: 2rem;
  font-weight: 400;
}

h3{
  font-size: 1.3125rem;
  font-weight: 400;
}

h4{
  font-size: 2rem;
  font-weight: 600;
}

h5{
  font-size: 0.75rem;
  font-weight: 600
}

/* main container */
.main-container {
  max-width: 890px;
  margin: 0 auto;
}

/* end game */
.end-game-btn{
  font-size: 1.3125rem;
  position: absolute;
  padding-top: .2rem;
  opacity: 0.4;
}

.end-game-btn:hover{
  cursor: pointer;
  opacity: 1;
  transition: all .4s ease;
}


/* gameplay grid*/
.gameplay-grid-container{
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "question question question"
  "qbox qbox qbox"
  "answers answers answers"
  "players players players"
  "footer footer footer";
}

.quest-info { 
  grid-area: question;
  background-color: var(--main-bg);
  color: var(--color-7);
  margin-bottom: -4%;
}

.quest-box {
  grid-area: qbox;
  background-color: var(--color-1);
  color: var(--color-6);
  border: 5px var(--color-2) solid;
  border-radius: 16px;
}

.answers {
  grid-area: answers;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.answers >* {
  color: var(--color-6);
  background-color: var(--color-2);
  border-radius: 16px;
  border: 9px solid var(--color-1)
}

.players{
  grid-area: players;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.players >*{
  color: var(--color-1);
  background-color: var(--color-8);
  border: 4px solid var(--color-1);
  border-radius: 9px;
}

.player {
display: grid;
grid-template-rows: auto;
grid-template-areas:
"avatar score"
"name q-total";
}

.player >* {
  position: relative;
}

.p-avatar-img {
  grid-area: avatar;
  top: 10%;
}

svg {
  height: 13rem;
  width: 13rem;
}

.score{
  grid-area: score;
  font-size: 10rem;
  top: 5%;
  transform:scale(1,1.4)
}

.name{
  grid-area: name;
  font-size: 2.25rem;
  font-weight: 600;
  top: -25%;
}

.q-total{
  grid-area: q-total;
  font-size: 1.25rem;
  transform:scale(1,1.25);
  top: -10%;
}

.footer{
  grid-area: footer;
  border-radius: 16px;
}



