/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*custom properties */
:root {
  --main-bg: #FFF8DA;
  /*page bg color*/
  --color-1: #035388;
  /* question box bg/ player name / score */
  --color-2: #1992D4;
  /* answer box */
  --color-3: #FFD93E;
  /* player ted background*/
  --color-4: #FCE588;
  /* nsn selected player*/
  --color-5: #464646;
  /* default text / question number /player turn / end game */
  --color-6: #fff;
  /*white. text color on color1/2*/
  --color-7: #000;
  /*black. footer color*/
  --color-8: #FCE588;
  /* light yellow background */
  --color-9: #464646;
  /* top text color */
}

/*resets*/
body, html {
  background-color: var(--color-8);
  font-family: "poppins", sans-serif;
  color: var(--color-5);
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  text-overflow: hidden;
}

/* typograpy */

h1{
  /* Get Questions */
  font-size: 2vw;
  font-weight: 400;
  color: var(--color-9);
  text-align: center;
}

.top-txt-sm{
  /* "welcome to" */
  font-size: 4vw;
}

h4{
  font-size: 3vw;
  font-weight: 600;
}

h5{
  font-size: 1.2vw;
  font-weight: 600;
}

@media screen and (min-width: 1200px)  {
  h1{
    /* get questions */
    font-size: 34px;
  }
  h2{
    font-size: 21px;
  }
  .top-txt-sm{
    /* "welcome to"*/
    font-size: 55px;
  }

  h4{
    font-size: 30px;
  }
  h5{
    font-size: 12px;
   }
  }

/* main container */
.main-container {
  margin: 0 auto;
  max-width: 1000px;
}


.get-questions-container{
  display: grid;
  grid-template-columns: [far-left] 24% [center-left] 10% [mid] 30% [center-right] 10% [far-right] 25%;
  grid-template-rows: [main-get] 100px [params] 100px [params-form] 250px [submit-rw] 100px [questions] 200px;
}


.back-to-main-btn{
  grid-column-start: far-left;
  grid-column-end: center-left;
  grid-row-start: main-get;
  grid-row-end: main-get;
}

.get-questions{
  grid-column-start: mid;
  grid-column-end: mid;
  grid-row-start: main-get;
  grid-row-end: main-get;
}

.btn-cont{
  text-align: center;
  grid-column-start: mid;
  grid-column-end: mid;
  grid-row-start: params;
  grid-row-end: params;
  padding: .2em .4em;
}

.form-contain{
  grid-column-start: center-left;
  grid-column-end: far-right;
  grid-row-start: params-form;
  grid-row-end: params-form;
  color: var(--color-1);
}

.submit-contain{
  grid-column-start: mid;
  grid-column-end: mid;
  grid-row-start: submit-rw;
  grid-row-end: submit-rw;
  text-align: center;
}

.quest-display{
  grid-row-start: questions;
  grid-row-end: questions;
  grid-column-start: far-left;
  grid-column-end: -1;
  background-color: var(--color-1);
  color: var
}

label{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.custom-select{
  width: 100%;
  font-size: 24px;
  background: none;
  border: none;
  border-radius: 3rem;
  text-decoration: none;
  background-color: var(--color-3);
  color: var(--color-1);
  outline: none;
}

.custom-select:focus {
  box-shadow: 0 0 0 .2rem var(--color-1);
}

#theme-select{
  grid-row-start: 4;
  grid-row-end: 4;
}

.top-txt{
  grid-row: top-text;
  grid-column: title-params;
}

.bnt-container{
  grid-row-start: btns;
  grid-row-end: btns;
}

.footy{
  grid-row-start: footr;
  grid-row-end: footr;
}

.main-btn{
  font-size: 2vw;
  letter-spacing: .15vw;
  font-weight: 600;
  height: 9vw;
  width: 34vw;
  margin: .25em;
  border: none;
  border-radius: 3rem;
  text-decoration: none;
  background-color: var(--color-2);
  color: var(--color-6);
  outline: none;
}

.main-btn:hover{
  background-color: var(--color-2);
  cursor: pointer;
}

.btn-sm{
  font-size: 3.5vw;
}

@media screen and (min-width: 1000px)  {
  .back-to-main-btn{
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 21px;
    color: var(--color-5); 
  }
  .main-container{
    width: 1200px;
  }
  .main-btn
  {
    width: 287px;
    height: 67px;
    font-size: 28px;
    border-radius: 3rem;
    font-weight: 600;
    padding-bottom: .5em;
    background-color: var(--color-1);
  }
  .btn-sm{
    font-size: 40px;
  }
  .button-img{
    width: 60px;
    height: 35px;
    position: relative;
    top: 12%;
  }

/* footer */
.footer{
  grid-area: footer;
  border-radius: 16px;
  color: var(--color-7);
  position: relative;
} 